@import 'open-props/normalize';
@import 'open-props/style';

body {
  padding: 0 var(--size-fluid-8);
}

:where(a[href]) {
  color: var(--gray-7);
}

:where(a[href]):visited {
  color: var(--gray-7);
}

:where(a[href]):hover {
  text-decoration: none;
}
